@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

:root {
    --white-color: #ffffff;
    --dark-purple: #ddc0ff57;
    --main-purple: rgba(119, 0, 255, 0.992);
}



* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to bottom right, var(--white-color), var(--dark-purple));

}

svg {
    color: white;
    width: 25px;
    height: 25px;
    transition: 0.5s;
}

svg:hover {
    transition: 0.5s;
    width: 35px;
    height: 35px;
    color: rgb(22, 22, 22);
}



h2 {
    color: rgb(29, 29, 29);
}

.social {
    /* margin-bottom: 20px; */
    padding-top: 10px;
    width: 180px;
    display: flex;
    justify-content: space-between;
}

.main_style img {
    border: solid 5px rgb(255, 255, 255);
    width: 300px;
    border-radius: 10%;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.089));

}

.main_style {
    /* border: solid 0.01px white; */
    backdrop-filter: blur(7px);
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.089));
    padding: 25px;
    margin: 10px;
    border-radius: 10px;
    background-color: #ffffff;
}

.container {
    width: 70vw;
    margin: auto;
}

.port_title {
    background-image: url('../resources/pattern/patter_02.png');
    color: white;
    background-color: var(--main-purple);
}

.flex_center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

video {
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.flex_box {
    display: flex;
    justify-content: center;
}

.card_02 {
    width: 40vw;
}

.info p {
    text-align: justify;
    padding-bottom: 15px;
}